<configuration scan="true">

  <property name="LOGFILE" value="${user.home}/logs/template-app.log"/>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGFILE}</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOGFILE}.%d{yyyy-MM-dd}</fileNamePattern>

      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <append>true</append>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Appender for System.out.print of logging. -->"
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level - %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Change log level of these specific loggers. -->
  <logger name="com.zaxxer.hikari" level="ERROR"/>
  <!--<logger name="org.apache.activemq" level="ERROR"/>

  <logger name="org.bitrepository" level="ERROR"/>

  <logger name="dk.kb.bitrepository.mediator.pillaraccess.communication.LocalActiveMQBroker" level="ERROR"/>
  <logger name="dk.kb.bitrepository.mediator.pillaraccess.database.DerbyDatabaseDestroyer" level="ERROR"/>
  <logger name="dk.kb.bitrepository.mediator.database.DatabaseConnectionManager" level="ERROR"/>-->


  <root level="DEBUG">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>

